{% extends "user/base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="{{ url_for('user.static', filename='css/table.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('user.static', filename='css/custom-buttons.css') }}"/>

<center>

	<form id="test" method="post" action="http://localhost:5000/home/test-from-theme">

		<table class="table">

			<thead>

				<tr>

					<th colspan="2">Перелік усіх існуючих тем</th>

				</tr>

			</thead>

			{% for one in themes %}

			<tbody>

				<tr>

					<td width="80%">

						<table>

							<tr><td style="border-bottom:0px;">{{ loop.index }} {{ one.text }}</td></tr>

							<tr>
								<td style="border-bottom:0px;">
									<button value="{{ one.text }}" class="button button1" name="start_button" id="submit_button" style="font-size:15px; margin-bottom:10px;" > Розпочати тест</button>
								</td>
							</tr>

						</table>

					</td>

					<td width="20%">

						<img src="data:;base64, {{ images[loop.index-1]}}" width="150px;">

					</td>

				</tr>

			</tbody>

			{% endfor %}

		</table>

	</form>

</center>

{% endblock %}