{% extends "user/base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="{{ url_for('user.static', filename='css/table.css') }}"/>

<center>

	<table class="table">

		<thead>

			<tr>

				<th>Дата проходження</th>

				<th>Правильних відповідей</th>

				<th>Правильних відповідей(%)</th>

				<th>Тест складено</th>

			</tr>

		</thead>

		{% if number_results_find == 0 %}

		<tbody>

		<tr><td colspan="4" align="center" style="color: #74924C;">Ця таблиця порожня! Наразі Ви не пройшли жодного випадкового тесту.</td></tr>

		</tbody>

		{% else %}

		{% for test_completed in tests %}

		<tbody>

			<tr>

				<td align="center"> {{ test_completed.date }} </td>

				<td align="center"> {{ test_completed.correct_answers_number }} </td>

				<td align="center"> {{ test_completed.correct_answers_percent }} </td>

				{% if test_completed.complete %}

				<td align="center"> Так</td>

				{% else %}

				<td align="center"> Ні </td>

				{% endif %}

			</tr>

		</tbody>

		{% endfor %}

		{% endif %}

	</table>

</center>

{% endblock %}