{% extends 'admin/base.html' %}

{% block content %}

<center>

	<table class="table">

		<thead>

			<tr>

				<th>Дата проходження</th>

				<th>Ім'я користувача</th>

				<th>Правильних відповідей</th>

				<th>Правильних відповідей(%)</th>

				<th>Тест складено</th>

			</tr>

		</thead>

		{% if tests_number < 1 %}

		<tbody>

		<tr><td colspan="5" align="center" style="color: #74924C;">Ця таблиця порожня! Наразі не існує жодного запису результатів.</td></tr>

		</tbody>

		{% else %}

			{% for user_one in users_history %}

			{% for test in user_one.tests %}

			<tbody>

			<tr>

				<td align="center"> {{ test.date }} </td>

				<td align="center"> {{ user_one.login }} </td>

				<td align="center"> {{ test.correct_answers_number }} </td>

				<td align="center"> {{ test.correct_answers_percent }} </td>

				{% if test.complete %}

				<td > Так </td>

				{% else %}

				<td align="center">Ні</td>

				{% endif %}

			</tr>

			</tbody>

			{% endfor %}

			{% endfor %}

		{% endif %}

	</table>

</center>

{% endblock %}